body {
    max-width: 900px;
    margin: 1em auto;
    font-family: sans-serif;
    background-color: lightgray;
    }
    h1.a-dao-of-web-design-a-summary {
        background-image: repeating-linear-gradient(to right, black, #008080, darkgreen, navy, navy, black, black);   -webkit-background-clip: text;
  color: transparent;
}
    blockquote {
        color: dimgray;
    }
    p.para {
        text-align: justify;
        line-height: 1.4em;   
    }
    em {
        color: #008080;
    }
    em.john {
        color: dimgray;
    }
    em.tash {
        color: black;
    }
    em.tashy {
        color: navy;
    }
    img.me {
        max-width: 256px;
        margin: 1em 1em 1em 1;
    float: left;
    }  
    
    a {
        color: navy;
    }
    a.allsopp {
        color: darkgreen;
    }
    h4 {
        text-align: justify;
        line-height: 1.2em;
        margin: 5em 1em auto auto;
    }       
@media screen and (max-width: 600px) {
    
    img.me {
        float: none;
    }
}